.audioControl {
  opacity: 0;
  margin-left: 0.9em;
}

#progressAudioBar {
  width: 20%;
  -webkit-appearance: none;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #999;
  border-radius: 4px;
  width: 100%;
  height: 1px;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1);
}
