/* Fonts */

@font-face {
  font-family: Karmina;
  src: url(assets/fonts/KarminaReg.otf);
}

@font-face {
  font-family: KarminaSansL;
  src: url(assets/fonts/KarminaSans_Light.otf);
}

@font-face {
  font-family: KarminaSansR;
  src: url(assets/fonts/KarminaSans_Regular.otf);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: rgba(249, 249, 249, 1);
}

/* Header */

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 2.5em;
  left: 0px;
  top: 0px;

  background: #ededed;
}

.header-container .title {
  margin-left: 0.9em;
  font-family: Karmina;
  font-size: 1.36em;
}

.separator img {
  margin: 2px 12px 0;
  width: 0.095em;
}

.separator-footer img {
  margin: 16px 12px 0;
  width: 0.095em;
}

.archivio-header {
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.indicator {
  font-family: "KarminaSansL";
  font-feature-settings: "frac" 1;
  font-size: 1.6em;
  margin-top: 30px;
}

.is-hidden {
  display: none;
}

/* Slider */

.slider {
  position: absolute;
  margin: 0 auto;
  height: calc(100vh - 3.8em);
  width: 100%;
  top: 2.5em;
  user-select: none;
  touch-action: pan-y;
}

.slider-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
}

.slider-arrows {
  width: 100%;
  position: absolute;
  top: calc(50% - 2.5em);
  transform: translateY(-50%);
  text-align: center;
}

.next,
.prev {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 2em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.prev {
  position: absolute;
  left: 0px;
  z-index: 1;
  background: url(assets/icons/left.svg);
  margin-left: 0.9em;
  background-repeat: no-repeat;
}

.next {
  position: absolute;
  right: 0px;
  z-index: 1;
  background: url(assets/icons/right.svg);
  background-repeat: no-repeat;
}

.next.disabled,
.prev.disabled {
  opacity: 0;
  pointer-events: none;
}

.main-audio {
  width: 2.45em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.icon-versi {
  width: 2.45em;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.main-audio-playing {
  width: 2.45em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Animal Boxes */

.animal-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.names-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.9em;
  z-index: 0;
  width: 100px;
}

.animal-name {
  font-family: "Karmina";
  font-size: 1em;
  margin: 0.77em 0 0.37em 0;
}

.scientific-name {
  font-family: "KarminaSans_Light";
  font-size: 0.8em;
  font-style: italic;
}

.icon {
  background-size: 2.45em;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.icon.icon-archivio {
  background-position: top left;
  width: 2.45em;
  height: 2.45em;
}

.animal-box .icon {
  width: 4.9em;
  height: 6.9em;
  background-position: top left;
  position: absolute;
  z-index: 1;
}

.animal-box .image {
  width: 6.6em; /* 4.9em*/
  height: 6.6em; /* 4.9em*/
  position: absolute;
  z-index: 1;
  bottom: -2.4em;
}

/* X ANTONELLA DIMENSIONE IMMAGINI */
.image {
  width: 6.6em; /* 4.9em*/
  height: 6.6em; /* 4.9em*/
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

/* .verso-black {
  background-image: url(assets/icons/verso-black.svg);
} */

/* Animal Boxes - SLIDE ONE*/

.lucertola-vivipara {
  position: absolute;
  top: 21em; /* 18em */
  left: 2em;
}

.sordone {
  position: absolute;
  top: 4.9em; /* 8em */
  left: 17em; /* 12em */
}

.codirossone {
  position: absolute;
  top: 16em; /* 15em */
  left: 11.8em; /* 20em */
}

.codirossone-femmina {
  position: absolute;
  top: 9em; /* 15em */
  left: 5em; /* 20em */
}

.topo-selvatico-alpino {
  position: absolute;
  top: 33em; /*32em*/
  left: 12.5em; /*24em*/
}

.gracchio-alpino {
  position: absolute;
  top: 31em; /*26em*/
  left: 27em; /*32em*/
}

.aquila-reale {
  position: absolute;
  top: 4.9em; /*9em*/
  left: 34em; /*40em*/
}

.codirosso-spazzacamino {
  position: absolute;
  top: 18em; /*18.4em*/
  left: 30em; /*40em*/
}

.codirosso-spazzacamino-femmina {
  position: absolute;
  top: 20em; /*18.4em*/
  left: 21em; /*40em*/
}

.merlo_dal_collare {
  position: absolute;
  top: 18em; /*22.1*/
  left: 47em; /*50*/
}

.gracchio-corallino {
  position: absolute;
  top: 31em; /*25.9*/
  left: 49em; /*58*/
}

.salamandra-nera {
  position: absolute;
  top: 29em;
  left: 63em;
}

/* Animal Boxes - SLIDE TWO*/

.slideTwo {
  position: relative;
}

.marmotta {
  position: absolute;
  top: 8em; /*10em*/
  left: 6em; /*4em*/
}

.marasso {
  position: absolute;
  top: 19em; /*25em*/
  left: 6em; /*14em*/
}

.coturnice {
  position: absolute;
  top: 20em; /*15em*/
  left: 20em; /*24em*/
}

.culbianco {
  position: absolute;
  top: 33em; /*30em*/
  left: 23em; /*30em*/
}

.culbianco-femmina {
  position: absolute;
  top: 30em; /*30em*/
  left: 15em; /*30em*/
}

.passera-scopaiola {
  position: absolute;
  top: 8em; /*8em*/
  left: 26em; /*34em*/
}

.camoscio {
  position: absolute;
  top: 25em; /*27*/
  left: 42em; /*44*/
}

.stambecco-alpino {
  position: absolute;
  top: 6em; /*6em*/
  left: 49em; /*52em*/
}

.spioncello {
  position: absolute;
  top: 25em; /*12em*/
  left: 57em; /*62*/
}

.toporagno-alpino {
  position: absolute;
  top: 33em; /*30em*/
  left: 62em; /*66em*/
}

/* Animal Boxes - SLIDE Three*/

.slideThree {
  position: relative;
}

.arvicola-delle-nevi {
  position: absolute;
  top: 33em; /*29em*/
  left: 5em;
}

.camoscio-page-three {
  position: absolute;
  top: 10em; /*15em*/
  left: 35em; /*22em*/
}

.stambecco-alpino-page-three {
  position: absolute;
  top: 30em;
  left: 41em; /*34em*/
}

.fringuello-alpino {
  position: absolute;
  top: 7em;
  left: 60em;
}

.picchio-muraiolo {
  position: absolute;
  top: 22em; /*15em*/
  left: 66em; /*64*/
}

/* Below Header container */

.below-header-container {
  position: relative;
  display: flex;
  margin: 0.5em 0 0 0.9em;
  z-index: 1;
}

.below-header-container p {
  font-family: "KarminaSansR";
  font-size: 1em;
  margin-left: 0.68em;
}

.below-header-container .passeggiata {
  margin-left: 3.1em;
}

.below-header-container div {
  display: flex;
  align-items: center;
}

/* Footer */

.footer {
  width: 100vw;
  background-color: #ededed;
  position: fixed;
  height: 1.8em;
  bottom: 0px;
  align-items: center;
  display: flex;
  z-index: 1;
  font-family: "KarminaSansR";
  font-size: 1.2em;
}

.languages {
  display: flex;
  position: absolute;
  right: 1.3em;
  color: #808080;
}

.active-language {
  color: #000000;
}

/* Info Tab */

.info-box {
  position: fixed;
  background-color: rgba(237, 237, 237, 1);
  top: 0;
  left: 100%;
  height: 100vh;
  width: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  transition: 0.5s;
  filter: drop-shadow(0px -10px 4px grey);
}

.info-button-open,
.info-button-close {
  background: transparent;
  border: 0;
  font-family: "KarminaSansR";
  text-decoration: underline;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.close-box {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0%;
  height: 100vh;
  width: 0;
  z-index: 2;
}

.archivio a {
  font-family: "KarminaSansR";
  text-decoration: underline;
  font-size: 1.1em;
  color: black;
}

.info-button-open {
  padding: 0;
  right: 0px;
  margin: 0em 1.4em 0 0;
}

.info-button-close {
  padding: 0;
  top: 0;
  right: 0;
  margin: 0.6em 1.55em 0 0;
  position: absolute;
}

.info-container {
  display: block;
  transition: 0.3s;
}

.info-content {
  display: flex;
  flex-direction: column;
  margin: 0.7em 0 0 1.3em;
  width: 18em;
}

.info-title {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.1em;
  width: 100%;
  margin-bottom: 0.7em;
  margin-top: 2.4em;
}

.info-subtitle {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 133%;
  width: 100%;
  margin-bottom: 0.7em;
}

.versi-narrazione-box {
  display: flex;
  flex-direction: column;
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 0.3em;
}

.icon-type {
  display: flex;
  align-items: center;
}

.icon-type p {
  margin-left: 1.3em;
}

.icon-type:nth-child(-n + 2) {
  margin-bottom: 1.8em;
}

.archivi-sonori {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 137%;
}

.crediti table {
  font-family: "KarminaSansR";
  font-style: normal;
  font-weight: 400;
  font-size: 0.77em;
  line-height: 137%;
  margin-bottom: 2.8em;
}

.crediti table tr td:first-child {
  width: 12em;
}

.archivi-sonori table tr td:first-child {
  width: 12em;
}

.info-p {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 117.5%;
  margin-bottom: 0.9em;
}

/*  Archivio Table*/

.table-top-mask {
  height: 40px;
  position: fixed;
  top: 40px;
  background-color: #f9f9f9;
  width: 100vw;
}

.archivio-table {
  border-collapse: collapse;
  max-width: 100vw;
  width: calc(100% - 1.8em);
  margin: 3.9em auto 1.9em auto;
}

.archivio-table tr {
  border-bottom: 0.029em solid black;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.archivio-table tr:last-child {
  border-bottom: none;
}

.archivio-table tr:first-child {
  font-family: "KarminaSansR";
  font-size: 1em;
  line-height: 106.9%;
}

.archivio-table tr:first-child th {
  padding-bottom: 0.6em;
  font-weight: unset;
  text-align: left;
  position: sticky;
  background-color: #f9f9f9;
  top: 3.9em;
  box-shadow: inset 0 0 0 #000000, inset 0 -1px 0 #000000;
}

.soggeto-name {
  font-family: "Karmina";
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 106.9%;
}

.first-column {
  width: 38%;
}

.second-column {
  width: 26%;
}

.third-column {
  width: 21%;
}

.nome-scientifico {
  font-family: "KarminaSansL";
  font-style: italic;
  font-weight: 300;
  font-size: 1em;
  line-height: 106.9%;
}
.archivio-table tr:nth-child(n + 1) td {
  padding: 0.5em 0;
}

.fix-archivio {
  overflow-y: hidden;
  position: fixed;
}

tr:has(.image) {
  vertical-align: top;
}
